html {
  font-size: 100%;
}

html, body {
  color: #EEE;
  background-color: #333;
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

/* Title */
.page-title {
  font-size: 2rem;
}

/* Blog Posts */
.text-container {
  background-color: #111;
  padding: 0.1em 1em;
  text-align: left;
}

@media (min-width: 500px) {
  .text-container {
    margin: 0 4em;
  }
}
/* Links */
a, a:link {
  color: #AEE;
  text-decoration: none;
}

a:visited {
  color: #8CC;
}

a:hover {
  color: #CFF;
}

a:active {
  color: #FFF;
}