---
navParent: home
useHero: true
addSection: true
title: null
subtitle: null
centerContent: true
---

{% include 'partials/_header.njk' %}

{% if useHero %}
  {% include 'partials/_hero.njk' %}
{% else %}
  {% include 'partials/_navbar.njk' %}
    <section class="section has-text-centered">
      {% if title %}
        <h1 class="title">{{ title }}</h1>
      {% endif %}
      {% if subtitle %}
        <h2 class="subtitle">{{ subtitle }}</h2>
      {% endif %}
    </section>
{% endif %}

<main class="container {% if centerContent %}has-text-centered{% endif %} {% if r/\.md$/.test(page.inputPath) %}content{% endif %}">
  <section class="section">
    {{ content | safe }}
  </section>
</main>

{% include 'partials/_footer.njk' %}
