---
navParent: home
useHero: true
addSection: true
title: null
subtitle: null
date: null
centerContent: true
---

{% include 'partials/_header.njk' %}

{% if useHero %}
  {% include 'partials/_hero.njk' %}
{% else %}
  {% include 'partials/_navbar.njk' %}
  {% include 'partials/_section.njk' %}
{% endif %}

<main class="container {% if centerContent %}has-text-centered{% endif %} {% if r/\.md$/.test(page.inputPath) %}content{% endif %}">
  <section class="section">
    {{ content | safe }}
  </section>
</main>

{% include 'partials/_footer.njk' %}

{% include 'partials/_goatcounter.njk' %}
