---
navParent: home
useHero: true
addSection: true
title: null
subtitle: null
date: null
centerContent: true
---

{% include 'partials/_header.njk' %}

{% if useHero %}
  {% include 'partials/_hero.njk' %}
{% else %}
  {% include 'partials/_navbar.njk' %}
  {% if addSection %}
    {% include 'partials/_section.njk' %}
  {% endif %}
{% endif %}

<main class="container">
  {{ content | safe }}
</main>

{% include 'partials/_footer.njk' %}

{% include 'partials/_goatcounter.njk' %}
