---
navParent: home
---

{% include 'partials/_header.njk' %}

{# <section class="section"> #}
{# {% include '_navbar.njk' %} #}
{# </section> #}

<main>
  {{ content | safe }}
</main>

{% include 'partials/_footer.njk' %}
