---
navParent: blog
permalink: /{{title | slugify}}/index.html
layout: page
centerContent: false

title: null
subtitle: null
---
{# Base layout for posts in `posts` folder. #}

<div class="content">
  {{ content | safe }}
</div>
