---
navParent: blog
permalink: /{{title | slugify}}/index.html
layout: page.njk
useHero: false
addSection: false

title: null
subtitle: null
---

<article>
  <header>
    <h1>{{ title }}</h1>
    {% if date %}
      <p><time datetime="{{ date | datetime }}">{{ date | formatDate }}</time></p>
    {% endif %}
  </header>
  {{ content | safe }}
</article>
