
<section class="container is-text-centered">
    <div class="project-list">
      {% for project in collections.projects %}
        <div class="columns is-centered my-6">
          <div class="column is-half-tablet">
             {# is-half-tablet is-one-third-fullhd #}
            {% include 'projects/card.njk' %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
<section>
