<div class="columns is-centered is-multiline">
  {% for project in collections.projects %}
      <div class="column is-two-thirds-tablet is-half-widescreen">
        {% include 'projects/card.njk' %}
      </div>
  {% endfor %}
</div>
