<article>
  {% if project.data.coverImage %}
    <header>
      {% dynamicImageOnHover project, project.data.coverImage, project.data.coverImageDynamic %}
    </header>
  {% endif %}
  <h3>
    <a href="{{ project.fileSlug }}/"><strong>{{ project.data.title }}</strong></a>
  </h3>
  <p><small>
    <time datetime="{{ project.date | datetime }}">{{ project.date | formatDate }}</time>
    {% if project.data.platforms %}
      &middot;
      {% if 'desktop' in project.data.platforms %}Desktop{% endif %}
      {% if 'desktop' in project.data.platforms and 'mobile' in project.data.platforms %}, {% endif %}
      {% if 'mobile' in project.data.platforms %}Mobile{% endif %}
    {% endif %}
  </small></p>
  <p>{{ project.data.description }}</p>
  <footer>
    {% if project.data.sourceUrl %}
      <a href="{{ project.data.sourceUrl }}" target="_blank">{{ project.data.sourceUrlText or 'GitHub' }}</a>
    {% endif %}
    {% if project.data.projectUrl %}
      {% if project.data.sourceUrl %} &middot; {% endif %}
      <a href="{{ project.data.projectUrl }}">{{ project.data.projectUrlText }}</a>
    {% endif %}
    {% if project.data.urls.length %}
      {% if project.data.sourceUrl or project.data.projectUrl %} &middot; {% endif %}
      {% for url in project.data.urls | reverse %}
        {% if not loop.first %} &middot; {% endif %}
        <a href="{{ url.url }}" target="_blank">{{ url.text }}</a>
      {% endfor %}
    {% endif %}
  </footer>
</article>
