---
title: Coding Projects and Blog
---

{% include '_header.njk' %}

{# <section class="section"> #}
{# {% include '_navbar.njk' %} #}
{# </section> #}

<main>
  {{ content | safe }}
</main>

{% include '_footer.njk' %}
