---
title: Blog Article
permalink: /{{title | slug}}/index.html
---

{% include '_header.njk' %}
{% include '_navbar.njk' %}

<article class="section">
  <div class="container">
    <h1 class="title">{{ title }}</h1>
    <div class="content">
      {{ content | safe }}
    </div>
  </div>
</article>

{% include '_footer.njk' %}
