@charset "utf-8";

// do not break the navbar
$navbar-breakpoint: 0;
// $navbar-box-shadow-size: 4px 4px 2px 8px;


@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all";



/*! bulma.io v0.9.0 | MIT License | github.com/jgthms/bulma */

@import "../../node_modules/bulma/sass/elements/_all";
@import "../../node_modules/bulma/sass/form/_all";
@import "../../node_modules/bulma/sass/components/_all";
@import "../../node_modules/bulma/sass/grid/_all";
@import "../../node_modules/bulma/sass/helpers/_all";
@import "../../node_modules/bulma/sass/layout/_all";


/* Show shadow only on hover */

.is-shadow-hover:not(:hover), .is-shadow-hover:not(:active) {
  @extend .is-shadowless;
}

.is-hidden-on-hover {
  position: absolute;
  background-color: $background;
  // ensure that we hide the other image
  border: 1px $background solid;
  
  &:hover {
    opacity: 0;
  }

  // always show on two columns
  // @media (max-width: $widescreen) {
  //   opacity: 0;
  // }
  opacity: 0;

  // always show on touch devices
  // @media (pointer: coarse) and (any-pointer: coarse) {
  //   opacity: 0;
  // }
  
}
