.is-text-centered {
  text-align: center;
}

.is-text-right {
  text-align: right;
}

.is-text-left {
  text-align: left;
}

// .image {
//   position: relative;
//   overflow: hidden;
//   height: 12rem;
//   margin: 0.1rem;
// }

// .image img {
//   position: absolute;
//   left: 50%;
//   top: 50%;
//   -webkit-transform: translate(-50%,-50%);
//   -ms-transform: translate(-50%,-50%);
//   transform: translate(-50%,-50%);
// }

// .centered-background-image {
//   background-position: center;
//   background-size: cover;
//   background-color: #cccccc;
// }