---
layout: 'page.njk'
navParent: blog
title: Posts
---

{%- for post in collections.posts -%}
  <h2 class="mb-3">
    <a href="/{{ post.data.title | slug }}/"> {{ post.data.title }}</a>
  </h2>
{%- endfor -%}