---
layout: 'page.njk'
navParent: blog
title: Blog
---

{%- for post in collections.posts -%}
  <h2 class="mb-3">
    <div>
      <a href="/{{ post.data.title | slugify }}/"> {{ post.data.title }}</a>
      &middot;
      {{post.data.date | formatDate}}
    </div>
  </h2>
{%- endfor -%}