---
layout: page.njk
navParent: home
title: Kleinprojects
subtitle: coding projects and blog
---

<div class="columns is-centered">
  <div class="column is-relative">
    <h4 class="title is-4">Latest Project</h4>
    {% set project = collections.projects | first %}
    {% include 'projects/card.njk' %}
    <a class="button is-primary mt-4" href="/projects/">
      Explore Projects
    </a>
  </div>
  <div class="column is-relative">
    <h4 class="title is-4">Latest Posts</h4>
    <div class="post-list">
      {%- for post in collections.posts -%}
        <h2 class="mb-3">
          <a href="{{ post.data.title | slug }}"> {{ post.data.title }}</a>
        </h2>
      {%- endfor -%}
    </div>
    <a class="button is-primary mt-4" href="/blog/">
      Explore Posts
    </a>
  </div>
</div>