<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <a href="/legal/">Legal Notice</a>
      &middot;
      <a href="/feed.xml">RSS Feed</a>
    </p>
    <p>
      &copy; Marco Klein {% currentYear %}
    </p>
  </div>
</footer>

</body>
</html>