<section class="hero is-primary">
  <div class="hero-header">
    {% include "partials/_navbar.njk" %}
  </div>
  <div class="hero-body has-text-centered">
    <h1 class="title is-2">{{ title }}</h1>
    <h2 class="subtitle is-4">{{ subtitle }}</h2>
    {% if date %}
      <div class="format-right">{{ date | formatDate}}</div>
    {% endif %}
  </div>
</section>