<nav class="container">
  <ul>
    <li>
      <a href="/" aria-label="Home">
        <strong>{{ site.title }}</strong>
      </a>
    </li>
  </ul>
  <ul>
    <li><a href="/projects/" {% if navParent=='projects' %}aria-current="page"{% endif %}>Projects</a></li>
    <li><a href="/blog/" {% if navParent=='blog' %}aria-current="page"{% endif %}>Blog</a></li>
  </ul>
</nav>
