

{# <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-menu is-active">
    <div class="navbar-start">

      <a class="navbar-item" heref="/">
        Kleinprojects Home
      </a>
    </div>
  </div>
</nav> #}

<nav class="breadcrumb is-centered mt-2" aria-label="breadcrumbs">
  <ul>
    <li><a href="/">{{ site.title }}</a></li>
    <li class="is-active"><a href="#" aria-current="page">{{ title }}</a></li>
  </ul>
</nav>