
<div class="navbar-menu is-active">
  <div class="navbar-start">
    <a class="navbar-item is-active" href="/">
      Home
    </a>
    <a class="navbar-item" href="/projects/">
      Projects
    </a>
    <a class="navbar-item" href="/blog/">
      Blog
    </a>
  </div>
  <div class="navbar-end">
    <a class="navbar-item" href="/">
      About me
    </a>
  </div>
</div>