
<div class="card">
  <div class="card-image">
    <figure class="image is-16by9">
      <img src="images/eager-learner-cover.png">
    </figure>
  </div>
  <div class="card-content">
    <h2 class="title is-4">Eager Learner</h2>
    <p class="subtitle is-6">Originally created for the Roguelike GameJam on Itch.io. Play it on itch.io or here.<p>
    
    <div class="is-text-right">
      <time datetime="2020-5">May 2020</time>
    </div>
  </div>
</div>